*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav{
    background-image: linear-gradient(rgba(0, 0, 7,0.6),rgba(0, 0, 7,0.6)),
    url("./netflix-.jpg");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    height: 145px;
    padding-left: 158px;
}
.div2{
    display: flex;
    justify-content: space-between;
}
.div3{
    padding-right: 120px;
    padding-top: 40px;
}
.btn1{
padding-left: 40px;
padding-right: 40px;
padding-top: 9px;
padding-bottom: 9px;
background-color: transparent;
color:whitesmoke ;
border: none;
border: 1px solid rgb(125, 124, 124);
border-radius: 5px;
margin: 14px;
    } 
    .btn2{
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 9px;
        padding-bottom: 9px;
        background-color: red;
        color:rgb(255, 255, 255) ;
        border: none;
        border-radius: 5px;

        }
        .div4{
            text-align: center;
            color: whitesmoke;
            font-weight: bold;
            padding-top: 145px;
            line-height: 1.95;

        }
        .heading1{
            font-weight: bolder;
            font-size: 55px;
        }
        .para{
            font-weight: bold;
            font-size: 28px;
        }
        .div5{
            padding-left: 350px;
            
        }
        .btn3{
            padding-left: 13px;
            padding-right: 250px;
            padding-top: 25px;
            padding-bottom: 25px;
            background-color: transparent;
            border: none;
            border: 1px solid;
            color: whitesmoke;
            border-radius: 5px;
            margin: 10px;
        }
        .btn4{
            padding-left: 13px;
            padding-right: 100px;
            padding-top: 25px;
            padding-bottom: 25px;
            background-color: red;
            border: none;
            color: whitesmoke;
            border-radius: 5px;
            font-size: 25px;
        }
        .nav2{
            background-color: black;
            width: 100%;
            height: 90vh;
            border-top: 7px solid rgb(97, 94, 94);
            border-bottom: 7px solid rgb(94, 91, 91);
        }
        .div6{
            color: whitesmoke;
            padding-left: 185px;
            padding-top: 190px;
        }
        .hdng{
            font-size: 50px;
            font-weight: bolder;
           font-family: 'Times New Roman', Times, serif;
           letter-spacing: normal;
        }
        .para2{
            font-size: 28px;
            font-weight: lighter;
            font-family: 'Times New Roman', Times, serif;
        }
        .div7{
            display: flex;
          
        }
        .iframe{
            padding-left: 60px;
            padding-top: 110px;
        }
        .nav3{
                background-color: black;
                width: 100%;
                height: 96vh;
                border-top: 7px solid rgb(97, 94, 94);
                border-bottom: 7px solid rgb(94, 91, 91);
                box-sizing: border-box;
               display: flex;
            }
            .img1{
                padding-left: 100px;
                padding-top: 50px;
                width: 150;
                height: 200;
        
            }
            .div9{
                color: whitesmoke;
                font-family: 'Times New Roman', Times, serif;
                padding-right: 200px;
                padding-top: 80px;
            }
            .hedo{
                font-size: 50px;
                font-weight: bolder;
                text-align: center;
                padding-top: 100px;
                text-align: start;
                
            }
            .paro{
                font-size: 28px;
                font-weight: 400;
               padding-left: 5px;
               text-align: start;
            }
            .chomo{
                width: 350px;
                height: 140px;
                background-color: black;
                border: 2px solid rgb(103, 101, 101);
                border-radius: 15px;
                margin-right: 150px;
                display: flex;
                position: absolute;
                top: 400px;
               left: 240px;
            }
            .ans{
                margin: 15px;
            }
            .wed{
                font-size: 25px;
                font-weight: bold;
                color: whitesmoke;
            }
            .down{
                font-size: 20px;
                font-weight: 200;
                color: rgb(63, 24, 236);
                padding-left: 4px;
            }
            .shim{
                text-align: center;
                padding-top: 30px;
                line-height: 1.5;
            }
            .div8{
                position: relative;
                height: 250px;
            }
            .nav4{
                background-color: black;
                width: 100%;
                height: 90vh;
                border-top: 7px solid rgb(97, 94, 94);
                border-bottom: 7px solid rgb(94, 91, 91);
            }
            .divs{
                color: white;
                font-family: 'Times New Roman', Times, serif;
                padding-left: 160px;
                line-height: 1.5;
                padding-top: 180px;
                margin: 25px;
            }
            .hedo2{
                font-size: 50px;
                font-weight: bolder;
            }
            .paro2{
                font-size: 28px;
                font-weight: 300;
                line-height: normal;
            }
            .div10{
                display: flex;
            }
            .img3{
              margin-top: 150px;
            }
            .nav5{
                background-color: black;
                width: 100%;
                height: 90vh;
                border-top: 7px solid rgb(97, 94, 94);
                border-bottom: 7px solid rgb(94, 91, 91);
                display: flex;
            }
            .img4{
                padding-top: 150px;
                padding-left: 50px;
            }
            .divs1{
                color: whitesmoke;
                font-family: 'Times New Roman', Times, serif;
            }
            .hedo3{
                font-size: 50px;
                font-weight: bolder;
            }
            .paro3{
                font-size: 28px;
                font-weight: 300;
            }
            .full{
                padding-top: 155px;
                padding-left: 100px;
            }
            .nav6{
                background-color: black;
                width: 100%;
                height: 90vh;
                border-top: 7px solid rgb(97, 94, 94);
                border-bottom: 7px solid rgb(94, 91, 91);
            }
            .divs2{
                color: whitesmoke;
                display: flex;
                font-size: 18px;
                text-decoration: underline;
                
            }
            .frstcolm{
                padding-left: 150px;
                padding-top: 70px;
            }
            .scndcolm{
                padding-left:180px ;
                padding-top:70px ;
            }
            .thrdcolm{
                padding-left: 210px;
                padding-top: 70px;
            }
            .hmm{
                color: whitesmoke;
                font-size: 20px;
                margin-top: 70px;
                padding-left: 150px;
            }
            .hmm2{
                color: whitesmoke;
                font-size: 18px;
                padding-left:150px ;
                line-height: 4;
            }
            .eng{
                padding-left: 40px;
                padding-right:40px;
                padding-top: 9px;
                padding-bottom: 9px;
                background-color: transparent;
                border: none;
                border: 1px solid rgb(119, 117, 117);
                color: whitesmoke;
                border-radius: 5px;
            }
            .nav7{
                background-color: black;
                width: 100%;
                height: 100vh;
                border-top: 7px solid rgb(97, 94, 94);
                border-bottom: 7px solid rgb(94, 91, 91);
            }